{erl_opts, [debug_info]}.

{project_plugins, [
    erlfmt,
    rebar3_ex_doc,
    {rebar3_audit, {git, "https://github.com/Taure/rebar3_audit.git", {branch, "main"}}},
    {rebar3_sbom,
        {git, "https://github.com/Taure/rebar3_sbom.git", {branch, "feat/include-otp-components"}}}
]}.

{erlfmt, [write]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {proglang, erlang},
    {main, <<"readme">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {source_url, <<"https://github.com/Taure/opentelemetry_shigoto">>}
]}.

{xref_ignores, [opentelemetry_shigoto]}.

{deps, [
    {telemetry, "~> 1.0"},
    {opentelemetry_api, "~> 1.4"}
]}.

{profiles, [
    {test, [
        {deps, [
            {opentelemetry, "~> 1.5"}
        ]}
    ]}
]}.
