{erl_opts, [debug_info]}.

{deps, [
    {telemetry, "~> 1.0"},
    {opentelemetry_api, "~> 1.4"}
]}.

{project_plugins, [
    erlfmt,
    covertool,
    {rebar3_audit, {git, "https://github.com/Taure/rebar3_audit.git", {branch, "main"}}},
    {rebar3_sbom,
        {git, "https://github.com/Taure/rebar3_sbom.git", {branch, "feat/include-otp-components"}}}
]}.

{erlfmt, [write]}.

{cover_enabled, true}.

{xref_checks, [undefined_function_calls, undefined_functions]}.
{xref_ignores, [
    {otel_tracer, start_span, 3},
    {otel_span, set_status, 3},
    {otel_span, set_attribute, 3},
    {otel_span, end_span, 1}
]}.
